body {
    background-color: #FFFFFF;
    padding-top: 90px;
    position: relative;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,"Jamrul",sans-serif;
}


/* Footer */
footer {
    margin-top: 40px;
	padding-top: 18px;
    background: none repeat scroll 0 0 #252525;
    border-top: 0 none;
}

footer h4 {
    color: #999999;
	line-height: 36px;
}

footer p {
    color: #999999;
	padding-top: 20px;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
